.button-primary{
    height: 50px;

    background-color: #505050;
    color: white;

    font-family: 'Inter';
    font-size: 16px;

    padding: 0 16px;
    border-radius: 6px;

    outline: none;
    border: none;

    cursor: pointer;

    &.addItem{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.button-disabled{
    height: 50px;

    background-color: #e1e1e1;
    color: white;

    font-family: 'Inter';
    font-size: 16px;

    padding: 0 16px;
    border-radius: 6px;

    outline: none;
    border: none;

    cursor: not-allowed;
}

.button-cancel{
    height: 50px;

    background-color: #F5F5F5;
    color: #989898;
    border: 2px #989898 solid;

    font-family: 'Inter';
    font-weight: bold;
    font-size: 16px;

    padding: 0 16px;
    border-radius: 6px;

    outline: none;

    cursor: pointer;
}

@media only screen and (max-width: 770px) {
    .button-primary{
        padding: 10px;
        gap: 10px;
        justify-content: center !important;
    }
}