section{
    padding: 100px 0;

    .sections{
        display: flex;
        flex-direction: column;
        gap: 40px;
    
        padding: 0 80px 100px 80px;
    
        font-family: 'Inter';
        color: #505050;
    
        h2{
            font-weight: normal;
            font-size: 30px;
        }
    
        .products{
            display: flex;
            justify-content: space-between;   
            flex-wrap: wrap; 
        }
    }
}

