.conteniner{
    padding: 100px 0;

    .sections{
        display: flex;
        flex-direction: column;
        gap: 40px;
    
        padding: 0 80px 100px 80px;
    
        font-family: 'Inter';
        color: #505050;
    
        h2{
            font-weight: normal;
            font-size: 30px;
        }
    
        .products{
            display: flex;
            justify-content: space-between;   
            flex-wrap: wrap; 
        }
    }
}


@media only screen and (max-width: 1250px) {
    .conteniner{
        padding: 50px 0;

        .sections{
            padding: 0 40px 50px 40px;
        }
    }
}

@media only screen and (max-width: 430px) {
    .conteniner{
        padding: 20px 0;

        .sections{
            gap: 12px;
            padding: 0 20px 30px 20px;

            h2{
                font-size: 24px;
            }
        }
    }
}